[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ouch"]
	path = ouch
	url = https://github.com/kingaa/ouch
[submodule "pomp"]
	path = pomp
	url = https://github.com/kingaa/pomp
[submodule "subplex"]
	path = subplex
	url = https://github.com/kingaa/subplex
